{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="col-sm-4 mr-auto ml-auto">
                <h2>Votre Profile </h2>

        
            </div>
        </div>
    </div>
{% endblock %}