{% extends 'base.html.twig' %}

{% block content %}

    <h2>Créer l'article</h2>

    {{ form_start(form)}}

    {{ form_errors(form)}}

    {{ form_rest(form)}}

    {{ form_end(form)}}

{% endblock  %}
